<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraps</title>
</head>
<body>
<h1>Scraps~Results<h1>
<h2>Super Yummy Cake</h2>
<img src="cake.jpg" alt="Image of cake">

<p>Ingredients</p>
<ol>
    <li>Milk</li>
    <li>Eggs</li>
    <li>Flour</li>
</ol>
<dl>
    <dt>Preparation Time:</dt>
    <dd>15 minutes</dd>
    <dt>Serves:</dd>
    <dd> 2-3 people</dd>
    <dt>Description:<dt>
    <dd>description of how yummy and delicious and easy this cake is! im so excited to bake!</dd>
</dl>
</body>
</html>
