<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scraps</title>
  </head>
  <body>
    <div id="header">
        <div id="date-range">
            <!--TODO: add date range UI-->
        </div>
        <!--TODO: update onClick-->
        <div id="my-pantry" onClick="">
            <p>MY PANTRY</p>
        </div>
        <!--TODO: update onClick-->
        <div id="recipes" onClick="">
            <p>RECIPES</p>
        </div>
    </div>
    <div id="week-view">
        <!--TODO: add each day and associated calender events-->
    </div>
    <div id="main-view">
        <!--TODO: add mypantry/recipes view-->
    </div>
  </body>
</html>
